<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".Playlists"
            android:label="@string/category_songs"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Chill"
            android:label="@string/category_chill"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".Retro"
            android:label="@string/category_retro"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".Oldies"
            android:label="@string/category_oldies"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".Playlists1Activity"
            android:label="@string/chill_beats"
            android:parentActivityName=".Playlists"/>
        <activity
            android:name=".Playlists2Acticity"
            android:label="@string/heartbeats"
            android:parentActivityName=".Playlists"/>
        <activity
            android:name=".Playlists3Activity"
            android:label="@string/play_the_hits"
            android:parentActivityName=".Playlists"/>
        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/category_songs"
            android:parentActivityName=".Playlists"/>
    </application>

</manifest>